html{
<<<<<<< HEAD
	font-size: 15px;}
   .oswald-funfont {
=======
	font-size: 15px;
	background-color: #00539f;
}

body {
>>>>>>> learn-css
	  font-family: "Oswald", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 400;
	  font-style: normal;
<<<<<<< HEAD
=======
	  width: 600px;
	  margin: 0 auto;
	  background-color: #FDAA46;
	  padding: 0 20px 20px 20px;
	  border: 5px solid black;
>>>>>>> learn-css
}

h1 {
  font-size: 40px;
  text-align: center;
<<<<<<< HEAD
=======
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 3px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
>>>>>>> learn-css
}

p,
li {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
}